 # General
TZ="America/Fortaleza"
HOURS="7,8,11,12,15,16,19,20"

# API
API_URL="http://192.168.1.50:3939"

# Wi-Fi
WIFI_SSID="wifi_ssid"
WIFI_PASS="wifi_password"

# Wake-on-LAN
WOL_MAC_ADDRESS="00:00:00:00:00:00"
WOL_BROADCAST_IP="255.255.255.255"
WOL_PORT="9"
